.answer__box {
    background-color: #00000010;
}

.form-group {
    position: relative;
}

.error__message {
    position: absolute;
    top: -.8rem;
    left: 5rem;
    font-size: .7em;
    color: #c00000;
    background-color: #ffe8e8;
    border: 1px solid #c00000;
    padding: .4rem .8rem;
    margin-top: .5rem;
    border-radius: .2rem;
}