<div class="container d-flex flex-wrap studies">
    
    <h2 class="col-12">Válassz egy tanulót!</h2>

    <div class="col-12 col-md-6 col-lg-3 py-3 d-flex flex-wrap" *ngFor="let student of students$ | async">
        <div class="card w-100" (click)="selectStudent(student)">
            <div class="card-body d-flex flex-wrap flex-column">
                <h4 class="card-title">{{student.name}}</h4>
                <p class="card-text">{{student.email}}</p>
                <p class="card-text mt-auto small text-right">{{student.points}} pont</p>
            </div>
        </div>
    </div>
    
</div>

<div class="container d-flex flex-wrap questions hide" *ngIf="quiz$ | async as quiz">

    <div class="card col-12 p-5 hide" *ngFor="let question of questionArray" [id]="'q_'+question.id">
        <div class="card-body w-100">
            <h4 class="card-title">{{question.question}}</h4>

            <div class="form-group ml-5">
                <input type="radio" [name]="'a_'+question.id" class="form-check-input">
                <label class="form-check-label">{{ question.answers[0].content }}</label>
            </div>
            <div class="form-group ml-5">
                <input type="radio" [name]="'a_'+question.id" class="form-check-input">
                <label class="form-check-label">{{ question.answers[1].content }}</label>
            </div>
            <div class="form-group ml-5">
                <input type="radio" [name]="'a_'+question.id" class="form-check-input">
                <label class="form-check-label">{{ question.answers[2].content }}</label>
            </div>

            <p class="card-text">Ezért a kérdésért {{question.points}} pontot kaphatsz.</p>
        </div>
    </div>

    <div class="p-5 game__over hide">
        <h2>Gratulálok!</h2>
        <h4>A kérdéssor végére értél.</h4>
        <p class="p-3">Elért eredményed: <b>{{currentPoints}}</b> pont</p>
    </div>

    <button type="button" class="btn btn-primary btn-block my-3 next__button" (click)="nextPosition()">Következő kérdés</button>
</div>

<div class="jumbotron">
    <p class="m-0">Megjeleníti az egyes Quiz-eket a tanulóknak.<br>
        Kiírja a kérdést és a lehetséges válaszokat, a választás és a továbblépés után pedig jó válasz esetén növeli a pontokat, amelyek a nézet jobb felső sarkában láthatóak.<br>
        Csak előre gomb kell, ne lehessen visszalépni!<br>
        A megjelölt válasz vagy háttérszínnel, vagy checkbox-al legyen kiemelve!<br>
        Elég az egyválasztós lehetőség, nem kell több kérdés típus!</p>
</div>