
<div class="jumbotron py-4">
    <p class="m-0">Itt listázza ki az alkalmazás kártyákon a quiz-eket.<br>
        Ezek közül tud egyet választani a tanuló, és utána azt kitölteni.<br>
        Kattintásra a QuizComponent nyílik meg az adott Quiz-el.<br>
        A kis kártyákon látszik a Quiz címe és rövid leírása is.</p>
</div>

<div class="col-12 d-flex flex-wrap">

    <div    class="col-12 col-md-6 col-lg-3 py-3 quiz__card" 
            *ngFor="let item of list$ | async" 
            [routerLink]="'list-quiz/'+item.id">
        <div class="card w-100">
            <div class="card-body">
                <h4 class="card-title">{{ item.title }}</h4>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text small mt-auto text-right">{{ item.qnums }} kérdés</p>
            </div>
        </div>
    </div>

</div>